@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf"),
    url("../fonts/Raleway-Italic-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-image: url("../img/bg_001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* nav bar */
.nav {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 4em 20em;
}
nav ul li,
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
nav ul li a {
  position: relative;
  top: 1.5em;
}
.logo {
  width: 10em;
  height: auto;
}
/* I need the same space between (must be fixed) */
ul:nth-child(n) :nth-child(n + 2):nth-child(-n + 7) {
  text-align: center;
}
/* main content */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20em;
}
/* img phones */
.iphone > img {
  width: 15em;
  height: auto;
  float: right;
}
.black-phone {
  position: absolute;
  top: 13em;
  right: 27em;
}
/*
.main:nth-child(n) :nth-child(n) {
  border: 2px solid black;
}
*/
