@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf"),
    url("../fonts/Raleway-Italic-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-image: url("../img/bg_001.jpg");
  background-size: cover;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
nav {
  width: 65vw;
  height: 15vh;
  margin: 2rem 20vw 3rem 20vw;
  padding: 6px;
}

nav ul li {
  display: inline-block;
}
nav ul a img {
  width: 10vw;
  height: 7.5vh;
  margin-right: 15vw;
}
ul:nth-child(n) :nth-child(n + 2):nth-child(-n + 7) {
  margin-right: 1rem;
  position: relative;
  top: -1.75rem;
}
section {
  margin: 1rem 20vw 3rem 20vw;
}
section > div {
  display: inline-block;
  width: 28vw;
}
div > img {
  width: 45%;
  height: 45%;
}
#white {
  position: relative;
  left: 6rem;
}
#black {
  position: relative;
  top: 1rem;
  left: -10rem;
}
#text {
  position: relative;
  top: -8rem;
}
div h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.links {
  color: whitesmoke;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
}
